name: Build KDMapper

on:
  push:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Build Solution
      run: msbuild kdmapper.sln /p:Configuration=Release /p:Platform=x64
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: kdmapper-compiled
        path: x64/Release/kdmapper.exe
